<div id="character-component">
    <app-menu></app-menu>
    <div class="container-body">
        <div class="container" *ngIf="!loading">
            <div class="container-header">
                <input matInput class="input-search" placeholder="Pesquisar um personagem pelo nome" [value]="searchPeople" [(ngModel)]="searchPeople" maxlength="255" (keypress)="handlerKeyPress($event)">
                <div class="btn-search" (click)="handlerClickSearch()">
                    <mat-icon aria-hidden="true">search</mat-icon>
                </div>
                <div class="btn-search" (click)="handlerClickClearSearch()">
                    <mat-icon aria-hidden="true">clear</mat-icon>
                </div>
            </div>
        </div>
        <div class="container" *ngIf="!loading">
            <div class="cards" *ngFor="let item of data; let id = index"> 
                <div class="title">{{item.name}}</div>
                <img class="image" src="http://img2.wikia.nocookie.net/__cb20130920001614/starwars/images/5/58/BobaFettMain2.jpg"/> 
                <div class="details"> 
                    <p class="category__paragraph" *ngFor="let key of dataKeyLabels">
                        <span _ngcontent-c8="" class="characteristics">
                            {{dataLabels[key]}}:
                        </span>
                        {{item[key] === 'unknown' ? '-' : item[key]}}
                    </p>
                    <a (click)="handlerClickMoreInfo(item, id)">Mais informações!</a>
                </div>
                
            </div>        
        </div>
        <div class="container">

            <mat-paginator *ngIf="!loading && totalPages > pageSize"
                #paginator
                (page)="pageEvent = handlerChangePaginate($event)"
                [length]="totalPages"
                [pageSize]="pageSize"
                [pageIndex]="currentPage"
                [showFirstLastButtons]="true"
                [pageSizeOptions]="itensPerPage">            
            </mat-paginator>
        </div>
    </div>
</div>
