<div id="detail-component">
    <audio id="audio" loop>
        <source src="../../assets/sound/Imperial _March.mp3" type="audio/mpeg">
    </audio>
    <app-menu></app-menu>
    <div class="container-body">
        <div class="container" *ngIf="data && !loading">
            <div class="cards"> 
                <div class="title">{{data.name || data.title}}</div>
                <img id="details-img" class="image" [src]="getImage(data)" (error)="notFoundImage('details-img')"/> 
                <div class="details"> 
                    <div class="details-cotent">
                        <p class="category__paragraph" style="margin-top: 15px;" *ngFor="let key of dataKeyLabels">
                            <span class="characteristics">
                                {{dataLabels[key]}}:
                            </span>
                            {{data[key] === 'unknown' ? '-' : data[key]}}
                        </p>
                    </div>
                    <div class="details-cotent">
                        <p class="category__paragraph" *ngIf="data.starships && data.starships.length > 0">
                            <span class="characteristics">
                                Naves estelares:
                            </span>
                        </p>
                        <div class="loader" *ngIf="getHidden('starships', data.liststarships)"></div>
                        <div class="descriptions">
                            <a *ngFor="let starship of data.liststarships" (click)="handlerClickMoreInfo(starship, 'starships')">{{starship.name}}</a>
                        </div>

                        <p class="category__paragraph" *ngIf="data.homeworld && data.homeworld.length > 0">
                            <span class="characteristics">                            
                                Planeta Natal:
                            </span>
                        </p>
                        <div class="loader" *ngIf="getHidden('homeworld', data.listhomeworld)"></div>
                        <div class="descriptions">
                            <a *ngFor="let homeworld of data.listhomeworld" (click)="handlerClickMoreInfo(homeworld, 'homeworld')">{{homeworld.name}}</a>
                        </div>

                        <p class="category__paragraph" *ngIf="data.films && data.films.length > 0">
                            <span class="characteristics">
                                Films:
                            </span>
                        </p>
                        <div class="loader" *ngIf="getHidden('films', data.listfilms)"></div>
                        <div class="descriptions">
                            <a (click)="handlerClickMoreInfo(film, 'films')" *ngFor="let film of data.listfilms">{{film.title}}</a>
                        </div>

                        <p class="category__paragraph" *ngIf="data.vehicles && data.vehicles.length > 0">
                            <span class="characteristics">
                                Veiculos:
                            </span>
                        </p>
                        <div class="loader" *ngIf="getHidden('vehicles', data.listvehicles)"></div>
                        <div class="descriptions">
                            <a (click)="handlerClickMoreInfo(vehicle, 'vehicles')" *ngFor="let vehicle of data.listvehicles">{{vehicle.name}}</a>
                        </div>

                        <p class="category__paragraph" *ngIf="data.species && data.species.length > 0">
                            <span class="characteristics">
                                Espécies:
                            </span>
                        </p>
                        <div class="loader" *ngIf="getHidden('species', data.listspecies)"></div>
                        <div class="descriptions">
                            <a (click)="handlerClickMoreInfo(species, 'species')" *ngFor="let species of data.listspecies">{{species.name}}</a>
                        </div>

                        <p class="category__paragraph" *ngIf="data.characters && data.characters.length > 0">
                            <span class="characteristics">
                                Personagens:
                            </span>
                        </p>
                        <div class="loader" *ngIf="getHidden('characters', data.listcharacters)"></div>
                        <div class="descriptions">
                            <a (click)="handlerClickMoreInfo(character, 'characters')" *ngFor="let character of data.listcharacters">{{character.name}}</a>
                        </div>

                        <p class="category__paragraph" *ngIf="data.planets && data.planets.length > 0">
                            <span class="characteristics">
                                Planetas:
                            </span>
                        </p>
                        <div class="loader" *ngIf="getHidden('planets', data.listplanets)"></div>
                        <div class="descriptions">
                            <a (click)="handlerClickMoreInfo(planet, 'planets')" *ngFor="let planet of data.listplanets">{{planet.name}}</a>
                        </div>

                        <p class="category__paragraph" *ngIf="data.pilots && data.pilots.length > 0">
                            <span class="characteristics">
                                Pilotos:
                            </span>
                        </p>
                        <div class="loader" *ngIf="getHidden('pilots', data.listpilots)"></div>
                        <div class="descriptions">
                            <a (click)="handlerClickMoreInfo(pilot, 'pilots')" *ngFor="let pilot of data.listpilots">{{pilot.name}}</a>
                        </div>
                    </div>
                </div>
            </div>       
            
            <div class="cards" *ngIf="dataInfo"> 
                <div class="title">{{dataInfo.name || dataInfo.title}}</div>
                <img id="info-img" class="image" [src]="getImage(dataInfo)" (error)="notFoundImage('info-img')"/> 
                <div class="details"> 
                    <p class="category__paragraph" style="margin-top: 15px;" *ngFor="let key of dataInfoKeys" [hidden]="checkedHidden(key)">
                        <span class="characteristics">
                            {{dataInfoLabels[key]}}:
                        </span>
                        {{dataInfo[key]}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
