<div id="vehicles-component">
    <app-menu></app-menu>
    <!-- <app-list [type]="'vehicles'"></app-list> -->

    <div class="container-body">
        <div class="container" *ngIf="!loading">
            <div class="container-header">
                <input matInput id="search" class="input-search" placeholder="Pesquisar um personagem pelo nome" [value]="search" [(ngModel)]="search" maxlength="255" (keypress)="handlerKeyPress($event)">
                <div class="btn-search" (click)="handlerClickSearch()" (keypress)="handlerKeyPressSearch($event)" tabindex="0" aria-label="Pesquisar" role="button">
                    <mat-icon aria-hidden="true">search</mat-icon>
                </div>
                <div class="btn-search" (click)="handlerClickClearSearch()" (keypress)="handlerKeyPressClearSearch($event)" tabindex="0" aria-label="Limpar a pesquisa" role="button">
                    <mat-icon aria-hidden="true">clear</mat-icon>
                </div>
            </div>
        </div>
        <div class="container" *ngIf="!loading" [hidden]="!data">
            <div class="cards" *ngFor="let item of data; let id = index"> 
                <div class="title" tabindex="0">{{item.name}}</div>
                <img class="image" [src]="getImage(item)"/> 
                <div class="details"> 
                    <p class="category__paragraph" *ngFor="let key of dataKeyLabels" tabindex="0">
                        <span class="characteristics">
                            {{dataLabels[key]}}:
                        </span> 
                        <span>{{item[key] === 'unknown' ? '-' : item[key]}}</span>
                    </p>
                    <a (click)="handlerClickMoreInfo(item)" (keypress)="handlerKeyPressMoreInfo($event, item)" tabindex="0" role="button">Mais informações!</a>
                </div>
                
            </div>        
        </div>
        <div class="container" [hidden]="!data">

            <mat-paginator *ngIf="!loading && totalPages > pageSize"
                #paginator
                (page)="pageEvent = handlerChangePaginate($event)"
                [length]="totalPages"
                [pageSize]="pageSize"
                [pageIndex]="currentPage"
                [showFirstLastButtons]="true"
                [pageSizeOptions]="itensPerPage">            
            </mat-paginator>
        </div>

        <div class="container" *ngIf="data && data.length === 0">
            <div class="not-found-result">
                <span tabindex="0">Nenhum resultado encontrado!</span>
            </div>
        </div>
    </div>
</div>
