<div id="home-component">
    <audio autoplay loop>
        <source src="../../assets/sound/sound.mp3" type="audio/mpeg">
    </audio>
    <div class="container-header">
        <header class="section--align-center">
            <img class="section__logo" src="https://image.ibb.co/mnebDS/gdfgdfgdg.png" alt="Logo StarWars The Game" title="“The Force will be with you. Always.” — Obi-Wan Kenobi">
            <div class="container-title">
                <p class="title"><strong>Bem vindo melhor site de Star Wars!</strong></p>
                <p>As informações sobre o universo de Star Wars disponíveis para você.</p>                
                <p>* Veiculos e Naves Estelares</p>    
                <p>* Planetas e Species</p>   
                <p>* Personagens</p>         
            </div>
            <button nz-button class="button-start" (click)="handlerClickStart()">Início!</button>
          </header>
    </div>
</div>
