@import '../../assets/scss/variables';

#species-component {
    width: 100%;
    height: calc(100vh - 20px);

    .container-body {
        overflow: auto;
        width: 100%;
        height: calc(100vh - 50px);
    }

    .container {

        // position: absolute;
        width: 100%;
        padding: 20px 20px;
        overflow: auto;
        background: transparent;
        // height: calc(100vh - 20px);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .container-header {
            width: 35%;
            display: flex;
        }

        .input-search {
            background: white;
            height: 35px;
            padding: 0 10px;
            font-size: 17px;
            color: black;
        }

        .btn-search {
            margin: 0 5px;
            border: 1px solid;
            width: 42px;
            background-color: #f5f5f5;
            border-radius: 50%;
            cursor: pointer;

            mat-icon {
                position: relative;
                top: 5px;
                margin: 0 auto;
                display: flex;
            }
        }

        .cards {
            max-width: 400px;
            width: 100%;
            height: 100%;
            margin: 10px 5px;
            border: 1px solid $red;
            border: 1px solid $yellow;
            .details {
                float: left;
                width: 56%;

                .category__paragraph {
                    font-size: 15px;
                    margin: 5px 12px;
                    color: #d4d1d1;

                    .characteristics {
                        font-weight: 600;
                    }
                }

                a {
                    margin: 0 12px;
                    color: $yellow;
                    text-decoration-line: underline;
                    cursor: pointer;
                }
            }

            .image {
                position: relative;
                max-height: 250px;
                margin: 4px auto;
                border-radius: 5%;
                width: 173px;
                height: 250px;
            }

            .title {
                background: #3c3b3b;
                height: 40px;
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                padding: 7px 0;
                color: white;
            }
        }

    }
}

@media screen and (max-width: $break-extra-small) {
    #species-component {
        .container {
            padding: 20px 5px !important;
            .cards {    

                .details {
                    width: 100%;
                    border-top: 1px solid $yellow;
                }

                .image {
                    max-height: 210px;
                    display: block;
                }
            }
            .container-header {
                width: 93% !important;
            }
           
        }
    }
}